@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="col-md-12">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <p>ĐÂY LÀ TRANG WEB BOOK STORE</p>
    </div>


