

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align: center; background-color: #007f85; color: white; font-size: 45px;">
        <b>WEB BÁN SÁCH BOOKSTORE</b>
    </div>
    <div>
        <h3>Xin Chào Khách Hàng: @ViewBag.TenUser </h3>
        <pre style="font-size:15px;">BẠN VUI LÒNG NHẤN VÀO LINK DƯỚI ĐỂ XÁC NHẬN ĐƠN HÀNG CỦA MÌNH <a href="#" target="_blank"> WEBBANSACH_BOOKSTORE</a>
            <br /><a href="@ViewBag.LinkXacNhan" style=" font-size:15px;">Nhấn Vào Đây Để Đến Trang Xác Nhận</a>
        </pre>
    </div>
</body>
</html>
