@{
    ViewBag.Title = "DetailsDonDatHang";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@model IEnumerable<DoAn_MonHoc.Models.PHIEUDATHANG>
<h2 style="width: 100%;    padding-left: 23px;    padding-top: 13px;">Chi Tiết Đơn Hàng</h2>
<h5 style="width: 100%;    padding-left: 40px;    padding-top: 13px;">Lên Đơn Hàng Thành Công !!! Cảm Ơn Quí Khách</h5>

